{% extends 'base.html.twig' %}

{% block title %}MJC - Admin{% endblock %}

{% block body %}
    <div id="adminTitle">
        <h1>Bienvenue sur le panel Admin</h1>
    </div>
    <div id="adminContent">
        <p>Gère ici le contenu de ton site !</p>
    </div>
{% endblock %}
