{% extends 'base.html.twig' %}

{% block title %}MJC - Contact{% endblock %}

{% block body %}
    <section id="contactContainer">
        <h1 id="contactTitle">Contactez-moi !</h1>

        {# INFORMATIONS DE CONTACT #}
        <div class="contact-info">
            <h2>Informations de contact</h2>
            <div class="contact-details">
                <div class="contact-item">
                    <strong>Email :</strong>
                    <a href="mailto:jonathanmalara4@gmail.com">jonathanmalara4@gmail.com</a>
                </div>
                <div class="contact-item">
                    <strong>Téléphone :</strong>
                    <a href="tel:+33618323778">06 18 32 37 78</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
